/* elements */

body {
  background-color: #edf1f3;
  color: #222;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

a:link {
  color: #336699;
  text-decoration: none;
}

a:visited {
  color: #660000;
  text-decoration: none;
}

a:hover {
  color: #336699;
}

dl dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5rem 0;
}

/* classes */

.content dd {
  margin-left: 0;
}

.main-section {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;

}

.post p {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 13pt;
}

.post .signoff {
  font-size: 12pt;
  font-style: italic;
  text-align: right;
}

.units-container h1 {
  padding-bottom: .2em;
}
