<footer class="group">
  <nav class="navbar navbar-left">
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/about.html" title="About the author and site">About</a></li>
      <li><a href="/archive.html" title="Archived writing">Archive</a></li>
      <li><a href="/publications.html" title="Publications">Publications</a></li>
      <li><a href="/events.html" title="Events">Events</a></li>
    </ul>
  </nav>
  <nav class="navbar navbar-right">
    <ul>
      <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND</a></li>
    </ul>
  </nav>
</footer>
