<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <tt><strong>3</strong></tt>
      </a>
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a href="/about.html" class="navbar-item" title="About the author and site">About</a>
        <a href="/archive.html" class="navbar-item" title="Archived writing">Archive</a>
        <a href="/publications.html" class="navbar-item" title="Publications">Publications</a>
        <a href="/events.html" class="navbar-item" title="Events">Events</a>
      </div>
      <div class="navbar-end">
      </div>
    </div>
  </div>
</nav>

