<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="The online presence of Alex Payne" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <title>Alex Payne - {{ page.title }}</title>
</head>

<body>
  {{ content }}
  {% include analytics.html %}
</body>

</html>